@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Address Book</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome</h2>
        <p>
            Address Book is a simple web application designed
            to preview a set of organizations and people involved
            with these organizations.
        </p>
    </div>
    <div class="col-md-4">
        <h2>How it Works</h2>
        <p>You can view the list of organizations/people by clicking on either "Organizations" or "People" on the top left corner.</p>
    </div>
    <div class="col-md-4">
        <h2>Thank You</h2>
        <p>
            This web application has been designed and implemented by Ali Srour.
            Contact: - Email Address: srourali07@gmail.com
                     - Phone Number:  0096176846119
        </p>
    </div>
</div>